@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');/* PT Sans: font-family: "PT Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*--------------------------*/
/*Utils                     */
/*--------------------------*/

:root {
    --body-color: #f2f3f4;
    --background-dark: rgb(24, 23, 31);
    --header-footer-color: #1A2737;
    --w3school-color1: #1D2A35;
    --w3school-color2: #15202B;
    --w3school-color3: #282A35;
    --cool-blue-color-ibm: #EDF5FF;
    --sptfy-maroon-1: rgb(67, 17, 29);
    --sptfy-maroon-2:rgb(120, 16, 5);
    --verydark-grayish-blue: #455964;
}


/* flex */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
  
.flex-row {
    flex-direction: row;
}

/* use to make responsive flex */
.flex-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column-wrap {
    /* height: 310px; specisfy height for the div container for flex column */
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-column-nowrap {
    /* height: 310px; */
    flex-direction: column;
    flex-wrap: nowrap;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* grid */
/* grid class is for parent div */
.grid {
    display: grid;
    /* justify-content: space-around; */
    /* gap: 1.2rem; */
    /* grid-template-columns: repeat(); *//* justify here (?, ?fr) */
}

.place-center {
  place-items: center;
}

/* span class is for child div */
.grid-col-span-2 {
    grid-column: span 2;/* justify column span in index.css as required for the 
    chid element/div */
}

.gap { gap: 1.2rem; }
.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }

/* button */
.button {
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 16px 0 #b2b2b2;
    /* right down blur spread-radius color inset(if required)*/
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

/* line break btwn elements */
hr {
    margin: 40px 0;
}


/* font-awesome generic pseudo elements icon-before,after style */
/* <!-- cdnjs link for font awesome -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> */
.icon-before {
    /* font-family: "Font Awesome 5 Free"; */
    /* font-weight: 900; */
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon-after {
    /* font-family: "Font Awesome 5 Free"; */
    /* font-weight: 900; */
    font-style: normal;
    font-variant: normal;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


/* center */
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* put this class in the parent div to center the child div 
inside the parent div */
.child-div-center {
    /* height: 100vh; specify height of the parent div in index.css*/
    display: grid;
    place-items: center;
}

